.projects {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 5% 10%;
}
.web-box,
.mobile-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  position: relative;
  padding: 10px 10px 0px 10px;
  overflow: hidden;
}
.web-box {
  width: 55%;
}
.mobile-box {
  width: 35%;
}
.project-header {
  align-self: flex-end;
  padding-right: 10px;
}
.proj-image {
  position: absolute;
  bottom: -60px;
  margin: 0 auto;
  width: 85%;
  max-height: 80%;
  overflow: hidden;
}
.proj-image img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
