.projects {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 5%;
}
.web-box {
  display: flex;
  box-sizing: border-box;
  padding: 2%;
  width: 55%;
  height: 400px;
}
.mobile-box {
  display: flex;
  box-sizing: border-box;
  width: 35%;
  padding: 2%;
  height: 400px;
}
.project-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.proj-image {
  position: absolute;
  bottom: 0;
  top: 50px;
  left: 50px;
}
