
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    background-color: white;
}

h1 {
  font-family: SourceSansPro-Black, Helvetica, Arial;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 80px;
    color: black,

}
h2 { 
    font-family: SourceSansPro-Black, Helvetica, Arial;
    font-size: 70px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 80px;
    color: black,
}
p{
    font-family: OpenSans, Helvetica, Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: none;
    color: #5D656C;
}